Django==2.0.9
awesome-slugify==1.6.5
bugsnag==3.4.2
dj-database-url==0.4.2
django-cors-headers==2.1.0
django-guardian==1.4.9
django-json-widget==0.1.1
django-webpack-loader==0.6.0
djangorestframework==3.9.0
factory-boy==2.10.0
jsonschema==2.6.0
Pillow==5.2.0
psycopg2==2.7.3.2
pytz==2017.3
selenium==3.11.0
