{% load static %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block head-title %}Crowdnewsroom{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>

    <header>
        <nav>
            <div class="wrapper">
                 <a class="headerlogo" href="{% url 'investigation_list' %}"></a>

                <div class="dropdown">
                 {% if request.user.is_authenticated %}
                     <a class="user" href="#">
                        {% blocktrans with name=request.user %}<span class="name">{{ name }}</span>{% endblocktrans %}
                     </a>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'password_change' %}">{% trans "Change password" %}</a></li>
                        <li><a href="{% url 'user_settings' %}">{% trans "Manage Settings" %}</a></li>
                        <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                    </ul>
                {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main class="page">
      <h2 class="page-title">
        {% block headertitle %}Title{% endblock %}
      </h2>
      {% include 'includes/breadcrumbs.html' %}
      {% include 'includes/messages.html' %}
      {% block main %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}
    {% render_bundle 'main' %}

  </body>
</html>
