{% load static %}
{% load i18n %}
{% load theme_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block head-title %}Crowndewsroom{% endblock %}</title>
    {% block head %}{% endblock %}
    {% webpack_bundle "css" %}
  </head>
  <body>

    <header {% if investigation.cover_image_url %}style="background-image:url({{investigation.cover_image_url}})"{% endif %}>
        <nav>
            <div class="wrapper">
                 <a class="headerlogo" href="{% url 'investigation_list' %}"></a>

                 {% if request.user.is_authenticated %}
                     <div class="user">
                        {% blocktrans with name=request.user %}<span class="name">{{ name }}</span>{% endblocktrans %}
                         <img src="https://placehold.it/30x30" alt="">
                     </div>
                {% endif %}
            </div>
        </nav>
        <div class="title">
            <h2>
                {% block headertitle %}Title{% endblock %}
            </h2>
        </div>
    </header>

    <main class="page">
      {% include 'includes/breadcrumbs.html' %}
      {% include 'includes/messages.html' %}
      {% block main %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    {% webpack_bundle "js" %}

  </body>
</html>