from .settings import *

# Database
# https://docs.djangoproject.com/en/2.0/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'crowdnewsroom',
        'HOST': 'localhost',
        'PORT': 32770,
        'USER': 'postgres'
    }
}

# These two classes make it easier to test with tools like insomnia
# or curl without having to worry about providing a cookie at all times
# in the production version we do not offer them though and only let
# people use the cookie/session based authentication
_DEVELOPMENT_AUTHENTICATION_CLASSES = [
    'rest_framework.authentication.BasicAuthentication',
    'rest_framework.authentication.TokenAuthentication'
]

REST_FRAMEWORK['DEFAULT_AUTHENTICATION_CLASSES'] += _DEVELOPMENT_AUTHENTICATION_CLASSES

INSTALLED_APPS += ['corsheaders']

MIDDLEWARE += ['corsheaders.middleware.CorsMiddleware']

CORS_ORIGIN_ALLOW_ALL = True

WEBPACK_LOADER["DEFAULT"]["CACHE"] = False

DEBUG = True

SECRET_KEY = 'your-very-secret-secret-key'
