.formresponse-details
  #tags-form, #assignees-form
    label
      cursor: pointer
      font-weight: 400

    .badge-light:hover
      background-color: darken($light, 10)

    .badge-primary:hover
      background-color: darken($primary, 10)
