.formresponse-list
  &__content-switcher
    a
      flex-grow: 1

    a:hover, a:focus
      text-decoration: none

  &__filter-header
    display: flex
    margin-bottom: .5rem
    align-items: baseline

    h3
      margin-right: 1em

  &__filters
    display: flex
    padding-bottom: 10px

    .bx--form-item
      padding: 5px

.filter-container
  padding: 2rem 0 0
  position: relative
  z-index: 5

#bulk-actions
  margin: 0 0 -7rem
  overflow: visible
  transition: all 1s
  background: white
  width: 100%
  position: relative
  z-index: 7
  padding: 0

  &.slidein
    margin: -7rem 0 0
    overflow: hidden

.response-container
  position: relative
  z-index: 10
  background: white

.responses
  position: relative
  z-index: 10
  background: white

