.formresponse-details
  .button-unstyled
      background: none repeat scroll 0 0 transparent
      border: none
      border-spacing: 0
      cursor: pointer

  .comment-delete-button
    display: inline-block

  #tags-form, #assignees-form
    label
      cursor: pointer
      font-weight: 400

    .badge-light:hover
      background-color: darken($light, 10)

    .badge-primary:hover
      background-color: darken($primary, 10)
