.investigation-details
  &__filepreview
    max-width: 400px
    max-height: 200px

.investigation-color
  display: flex
  flex-direction: row

  &__preview
    display: inline-block
    height: 2.5rem
    align-self: flex-end
    padding-left: 1em

  &__half
    width: 50%
