{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block headertitle %}{% trans "Password Reset" %}{% endblock %}

{% block main %}

<div class="main-content-padded">
  <form method="post">
      {% for error in form.non_field_errors %}
          <div data-notification class="bx--inline-notification bx--inline-notification--error" role="alert" style="margin-top: 0">
            <div class="bx--inline-notification__details">
                <svg class="bx--inline-notification__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zM3.293 4.707l8 8 1.414-1.414-8-8-1.414 1.414z" fill-rule="evenodd" />
                </svg>
                <div class="bx--inline-notification__text-wrapper">
                  <p class="bx--inline-notification__title">{{ error }}</p>
                </div>
            </div>
          </div>
      {% endfor %}

      {% csrf_token %}

      <div class="bx--form-item">
          <label for="id_email" class="bx--label">{% trans "E-mail address" %}</label>
          <input required
                 id="id_email"
                 class="bx--text-input"
                 name="email"
                 type="email"
                 value="{{ form.username.value | default:'' }}">
      </div>

      <div class="bx--form-item">
          <button type="submit" class="bx--btn bx--btn--primary">
              {% trans "Submit" %}
          </button>
      </div>
  </form>
  <p>{% trans "Instructions to change your password will be sent to you." %}</p>
</div>
{% endblock %}