{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Responses" %}{% endblock %}

{% block content %}
    <div id="content-main">
        <h1>
        {% blocktrans with name=investigation.name %}
            Responses for {{ name }}
        {% endblocktrans %}
        </h1>
        <table>
            <tr>
                <td>{% trans "Link" %}</td>
                <td>{% trans "Status" %}</td>
                <td>{% trans "Comments" %}</td>
            </tr>
            {% for response in formresponse_list %}
                <tr>
                    <td><a href="{% url "response_details" investigation.id response.id %}">{{ response }}</a></td>
                    <td>{{ response.get_status_display }}</td>
                    <td>{{ response.comment_set.count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
