{% extends "base.html" %}
{% load i18n %}
{% load forms_tags %}

{% block title %}{% trans "Validate Submission" %}{% endblock %}
{% block headertitle %}{% trans "Validate Submission" %}{% endblock %}


{% block main %}
    <div class="formresponse-details">
        <div class="d-flex justify-content-between mt-5 mb-5">
            <h2 style="display: inline-block;">{% trans "Content of Response" %}</h2>
            <form action="{% url 'response_details_status' investigation_slug=formresponse.form_instance.form.investigation.slug form_slug=formresponse.form_instance.form.slug response_id=formresponse.id %}"
                  method="post"
                  style="display: inline-block; margin-left: 2em">
                {% csrf_token %}
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    {% for value, label in formresponse.STATUSES %}
                    <label class="btn btn-secondary {% if value == formresponse.status %}active{% endif %}">
                        <input type="radio"
                               name="status"
                               value="{{value}}"
                               autocomplete="off"
                               onClick = "this.form.submit()"
                               {% if value == formresponse.status %} checked {%endif %}>
                        {{label}}
                        <i class="fa {% response_icon value %}"></i>
                    </label>
                    {% endfor %}
                </div>
            </form>
        </div>

        <table class="table">
            <tr>
                <th>E-Mail</th>
                <td>{{ formresponse.email }}</td>
            </tr>
            {% for entry in formresponse.rendered_fields %}
                {% if entry.title %}
                    <tr>
                        <th title="{{ entry.title }}">{{ entry.title | truncatewords:5 }}</th>
                        {% if entry.type == "text" %}
                            <td>{{ entry.value }}
                            {% if entry.data_type == "string" %}
                                <i class="fa fa-edit edit-inline-button" title="edit"></i>
                                <span class="edit-inline">
                                    <form action="{{formresponse.id}}/edit" method="POST">
                                        {% csrf_token %}
                                        <input type="text"
                                               name="json__{{entry.json_name}}"
                                               value="{{ entry.value}}">
                                        <input type="submit">
                                    </form>
                                </span>
                            {% endif %}
                            </td>
                        {% endif %}

                        {% if entry.type == "link" %}
                            <td>
                                <a href="{{entry.value}}" target="_blank">Download</a>
                            </td>
                        {% endif %}
                    </tr>
                {%  endif %}
            {% endfor %}
        </table>

        <form id="tags-form" action="{% url 'response_details_tags' investigation_slug=formresponse.form_instance.form.investigation.slug form_slug=formresponse.form_instance.form.slug response_id=formresponse.id %}" method="post">
            {% csrf_token %}
            {%  for tag in tags_form.tags %}
                <label for="{{ tag.id_for_label }}"
                       class="badge  p-2 {% if tag.data.attrs.checked %} badge-primary {% else %} badge-secondary {% endif %}">
                    {{ tag.tag }}
                    {{ tag.choice_label }}
                </label>
            {% endfor %}
           <input type="submit" class="btn btn-primary" value="{% trans 'Submit Tags' %}">
        </form>

        <h2>{% trans "Comments" %}</h2>
        <form action="{% url 'response_details_comments' investigation_slug=formresponse.form_instance.form.investigation.slug form_slug=formresponse.form_instance.form.slug response_id=formresponse.id %}" method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" class="btn btn-primary" value="{% trans 'submit comment' %}"/>
            </div>
        </form>

        <ul>
            {% for comment in formresponse.comment_set.all reversed %}
                <li>
                    <div class="card">
                      <div class="card-header">
                          <span class="author">{{ comment.author.first_name }} {{ comment.author.last_name }}</span>
                          <span class="date float-right">{{ comment.date }}</span>
                      </div>
                      <div class="card-body">
                          {{ comment.text }}
                      </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>


<script>
    var editElements = document.querySelectorAll(".edit-inline");
    editElements.forEach(function(element) { element.classList.add("d-none"); });

    function toggleEdit(event) {
        var button = event.target;
        button.parentElement.querySelector(".edit-inline").classList.toggle("d-none");
    }

    document.querySelectorAll(".edit-inline-button").forEach(function(button){
     button.addEventListener("click", toggleEdit);
    });

    var tagsForm = document.querySelector("#tags-form");
    tagsForm.querySelectorAll("input[type='checkbox']").forEach(function(tag) {
        tag.addEventListener("click", function(event) { tag.form.submit() } );
    });
    tagsForm.querySelector("input[type='submit']").classList.add("d-none");

</script>
{% endblock %}
