{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Validate Submission" %}{% endblock %}
{% block headertitle %}{% trans "Validate Submission" %}{% endblock %}


{% block main %}
    <div class="formresponse-details">
        <h2>{% trans "Content of Response" %}</h2>
        <table class="formresponse">
            <tr>
                <th>E-Mail</th>
                <td>{{ formresponse.email }}</td>
            </tr>
            {% for entry in formresponse.rendered_fields %}
                <tr>
                    <th>{{ entry.title }}</th>
                    {% if entry.type == "text" %}
                        <td>{{ entry.value }}</td>
                    {% endif %}

                    {% if entry.type == "image" %}
                        <td>
                            <img src="{{ entry.value }}"/>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        <form action="{% url 'response_details_status' investigation_id=formresponse.form_instance.form.investigation_id response_id=formresponse.id %}" method="post">
            {% csrf_token %}
            {{ status_form }}
            <input type="submit" value="{% trans "Set status" %}"/>
        </form>


        <h2>Comments</h2>
        <form action="{% url 'response_details_comments' investigation_id=formresponse.form_instance.form.investigation_id response_id=formresponse.id %}" method="post">
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit" value="{% trans "Comment" %}"/>
        </form>

        <ul class="commentList">
            {% for comment in formresponse.comment_set.all reversed %}
                <li>
                    <div class="comment">
                        <div class="header">
                            <span class="author">{{ comment.author.first_name }} {{ comment.author.last_name }}</span>
                            <span class="date">{{ comment.date }}</span>
                        </div>
                        <div class="text">
                            {{ comment.text }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
