{% extends "base.html" %}
{% load i18n %}
{% load guardian_tags %}
{% load static %}

{% block title %}Investigations{% endblock %}
{% block headertitle %}{% trans "Forms for investigation" %}{% endblock %}

{% block main %}
<div class="forms-list main-content-padded">
    <div class="add-form">
        <a class="bx--btn bx--btn--secondary" href="{% url 'admin_interviewer_new' investigation.slug %}">
            {% trans "Add a new interviewer" %}
            <svg class="bx--btn__icon" width="10" height="10" viewBox="0 0 10 10"><path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z"></path></svg>
        </a>
    </div>
    <ul>
    {% for form in form_list %}
        <li><a href="{% url "form_responses" investigation.slug form.slug 'inbox' %}">{{ form }}</a></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
