{% extends "base.html" %}
{% load i18n %}

{% block title %}Investigations{% endblock %}
{% block headertitle %}{% trans "Forms for investigation" %}{% endblock %}

{% block main %}
<div class="forms-list main-content-padded">
    <div class="add-form">
        <a class="bx--btn bx--btn--secondary" href="{% url 'admin_interviewer_new' investigation.slug %}">
            {% trans "Add a new interviewer" %}
            <svg class="bx--btn__icon" width="10" height="10" viewBox="0 0 10 10"><path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z"></path></svg>
        </a>
    </div>
    <div class="bx--structured-list">
        <div class="bx--structured-list-tbody">

            {% for form in form_list %}
                <div class="bx--structured-list-row">
                    <div class="bx--structured-list-td">
                        <div class="cnr--list-header">
                            <h3 class="cnr--list-header__title">
                                <a href="{% url 'form_responses' investigation.slug form.slug 'inbox' %}">{{ form }}</a>
                            </h3>
                            <div class="cnr--list-header__actions">
                                {% if user_can_manage_investigation %}
                                <a class="bx--btn bx--btn--secondary"
                                   href="{% url 'admin_interviewer_edit' investigation.slug form.slug %}">{% trans "Edit" %}</a>
                                {% endif %}
                                <a class="bx--btn bx--btn--primary"
                                   href="{% url 'form_responses' investigation.slug form.slug 'inbox' %}">{% trans "View" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
