{% extends "./investigation_list.html" %}
{% load i18n %}
{% load forms_tags %}
{% load tz %}

{% block title %}{% trans "Responses" %}{% endblock %}
{% block headertitle %}
    {% blocktrans with name=form.name %}
        Responses for {{ name }}
    {% endblocktrans %}
{% endblock %}

{% block main %}
  <div class="formresponse-list main-content-padded">
    <div class="formresponse-list__content-switcher">
      <div data-content-switcher class="bx--content-switcher" role="tablist" aria-label="{% trans 'Switch bucket' %}">
      {% with counts=form.count_by_bucket %}
        <a class="bx--content-switcher-btn {% if request.resolver_match.kwargs.bucket == 'inbox' %} bx--content-switcher--selected {% endif %}" href="inbox?{{query_params}}" role="tab">
            <i class="bx--content-switcher__icon fa {% response_icon 'S' %}"></i>
            {% trans "Inbox" %}
            ({{ counts.S | default:0 }})
        </a>
        <a class="bx--content-switcher-btn {% if request.resolver_match.kwargs.bucket == 'verified' %} bx--content-switcher--selected {% endif %}" href="verified?{{query_params}}" role="tab">
            <i class="bx--content-switcher__icon fa {% response_icon 'V' %}"></i>
            {% trans "Verified" %}
            ({{ counts.V | default:0 }})
        </a>
        <a class="bx--content-switcher-btn {% if request.resolver_match.kwargs.bucket == 'trash' %} bx--content-switcher--selected {% endif %}" href="trash?{{query_params}}" role="tab">
            <i class="bx--content-switcher__icon fa {% response_icon 'I' %}"></i>
            {% trans "Trash" %}
            ({{ counts.I | default:0 }})
        </a>
      {% endwith %}
      </div>
    </div>
    <div class="pt-4">
      <h3 class="mb-2">{% trans "Filter" %}</h3>
      <form action="" method="GET" style="display: flex; flex-wrap:wrap">
          <div class="bx--form-item">
              <label class="bx--visually-hidden" id="email-label" for="email_filter">Search by e-mail</label>
              <input name="email"
                     class="bx--text-input"
                     type="text"
                     id="email_filter"
                     role="search"
                     placeholder="{% trans 'Search by email' %}"
                     aria-labelledby="email-label"
                     value="{{ email_param|default:'' }}" >
          </div>

        <div class="bx--form-item">
          <label for="has_filter"class="bx--visually-hidden">{% trans "Field" %}</label>
          <div class="bx--select">
              <select id="has_filter" name="has" class="bx--select-input" onChange="this.form.submit()">
                  <option value="" class="bx--select-option">{% trans "Field" %}</option>
                  {% for property in form.instance_properties %}
                  <option value="{{property}}"
                          class="bx--select-option"
                          {% if has_param == property %} selected {% endif %}
                  >{{property}}</option>
                  {% endfor %}
              </select>
              <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                  <path d="M10 0L5 5 0 0z"></path>
              </svg>
          </div>
        </div>

        <div class="bx--form-item">
            <label for="assignee_filter" class="bx--visually-hidden">{% trans "Assignee" %}</label>
            <div class="bx--select">
                <select id="assignee_filter" name="assignee" class="bx--select-input" onChange="this.form.submit()">
                    <option value="" class="bx--select-option">{% trans "Assignee" %}</option>
                    {% for user in form.investigation.manager_users %}
                        <option value="{{user.email}}"
                                class="bx--select-option"
                                {% if assignee_param == user.email %} selected {% endif %}
                        >{{user}}</option>
                    {% endfor %}
                </select>
                <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                    <path d="M10 0L5 5 0 0z"></path>
                </svg>
            </div>
        </div>

        {% if investigation.tags %}
          <div class="bx--form-item">
              <label for="tag_filter" class="bx--visually-hidden">{% trans "Tag" %}</label>
              <div class="bx--select">
                  <select id="tag_filter" name="tag" class="bx--select-input" onchange="this.form.submit()">
                      <option class="bx--select-option" value="">{% trans "Tag" %}</option>
                      {% for tag in investigation.tags %}
                      <option class="bx--select-option" value="{{tag.slug}}" {% if tag_param == tag.slug %} selected {% endif %}>{{tag.name}}</option>
                      {% endfor %}
                  </select>
                  <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                      <path d="M10 0L5 5 0 0z"></path>
                  </svg>
              </div>
          </div>
        {% endif %}

      </form>
    </div>

    <form action="batch_edit" method="POST">
        {% csrf_token %}
        <div id="bulk-actions" class="p-3" style="display: flex; flex-wrap: wrap">
            <div class="bx--form-item">
                <label for="apply_tag" class="bx--label">{% trans "Apply tag" %}</label>
                <div class="bx--select">
                    <select id="apply_tag" name="tag" class="bx--select-input">
                        <option value="" class="bx--select-option">---</option>
                        {% for tag in investigation.tags %}
                        <option value="{{tag.slug}}" class="bx--select-option">{{tag.name}}</option>
                        {% endfor %}
                    </select>
                    <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                        <path d="M10 0L5 5 0 0z"></path>
                    </svg>
                </div>
            </div>
            <div class="bx--form-item">
                <label for="apply_assignee" class="bx--label">{% trans "Apply assignee" %}</label>
                <div class="bx--select">
                    <select id="apply_assignee" name="assignee_email" class="bx--select-input">
                        <option value="" class="bx--select-option">---</option>
                        {% for user in investigation.manager_users %}
                            <option value="{{user.email}}">{{user.first_name}}</option>
                        {% endfor %}
                    </select>
                    <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                        <path d="M10 0L5 5 0 0z"></path>
                    </svg>
                </div>
            </div>
            <div class="bx--form-item">
                <label for="apply_action" class="bx--label">Mark as</label>
                <div class="bx--select">
                    <select id="apply_action" name="action" class="bx--select-input">
                        <option value="" class="bx--select-option">---</option>
                        <option value="mark_submitted" class="bx--select-option">{% trans "Move to inbox" %}</option>
                        <option value="mark_verified" class="bx--select-option">{% trans "Mark as verified" %}</option>
                        <option value="mark_invalid" class="bx--select-option">{% trans "Move to trash" %}</option>
                    </select>
                    <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                        <path d="M10 0L5 5 0 0z"></path>
                    </svg>
                </div>
            </div>
            <div class="bx--form-item" style="display: flex; align-items: center;">
                <input type="submit" class="bx--btn bx--btn--primary" data-template="{% trans 'Apply to COUNT submission(s)' %}">
            </div>
        </div>
        <h3>{% trans "Responses" %}</h3>
        <div class="bx--data-table-v2-container">
            <table class="bx--data-table-v2 cnr-data-table">
                <thead>
                <tr>
                    <th scope="col">
                        <input type="checkbox" class="bx--checkbox" id="selectAllResponsesCheckbox" />
                        <label for="selectAllResponsesCheckbox" class="bx--checkbox-label" aria-label="Select all rows"></label>
                    </th>
                    <th scope="col">{% trans "Email" %}</th>
                    <th scope="col">{% trans "Submission Date" %}</th>
                    <th scope="col">{% trans "Comments" %}</th>
                    <th scope="col">{% trans "Ownership" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for response in formresponse_list %}
                <tr>
                    <td>
                        <input class="bx--checkbox" id="selectResponsesCheckbox{{response.id}}" type="checkbox" value="{{response.id}}" name="selected_responses" />
                        <label for="selectResponsesCheckbox{{response.id}}" class="bx--checkbox-label" aria-label="Select row"></label>
                    </td>
                    <td>
                        <a href="{% url 'response_details' investigation.slug form.slug response.id %}"
                        style="text-decoration: none">
                            {% if response.json_email %}
                                {{ response.json_email }}
                            {% else %}
                                <i> {% trans "No Email Provided" %}</i>
                            {% endif %}
                        </a>
                        <p>
                        {% for tag in response.tags.all %}
                            <span class="bx--tag bx--tag--beta">{{ tag.name }}</span>
                        {% endfor %}
                        </p>
                    </td>
                    <td>{{ response.submission_date | localtime }}</td>
                    <td>{{ response.comments.last.text | default:'-' }}</td>
                    <td>
                    {{ response.assignees.all | join:', ' | default:'-' }}
                    </td>
                </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">
                            {{ empty_message }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
      {% if is_paginated %}
          <div class="bx--pagination cnr-pagination mt-4" data-pagination>
              <div class="bx--pagination__left">
                <span class="bx--pagination__text">
                  <span data-displayed-item-range>{{ page_obj.start_index }}-{{ page_obj.end_index }}</span> of
                  <span data-total-items>{{ page_obj.paginator.count }}</span> items</span>
              </div>
              <div class="bx--pagination__right bx--pagination--inline">
                <span class="bx--pagination__text">
                  <span data-displayed-page-number>{{ page_obj.number }} </span> of
                  <span data-total-pages>{{ page_obj.paginator.num_pages }}</span> pages</span>
                <a class="bx--pagination__button bx--pagination__button--backward"
                   data-page-backward
                   aria-label="Backward button"
                   {% if page_obj.has_previous %}
                    href="?page={{ page_obj.previous_page_number }}&{{query_params}}"
                   {% else %}
                    disabled
                   {% endif %}>
                  <svg class="bx--pagination__button-icon" width="7" height="12" viewBox="0 0 7 12">
                    <path fill-rule="nonzero" d="M1.45 6.002L7 11.27l-.685.726L0 6.003 6.315 0 7 .726z"/>
                  </svg>
                </a>
                <a class="bx--pagination__button bx--pagination__button--forward"
                   aria-label="Forward button"
                   href="?page={{ page_obj.next_page_number }}&{{query_params}}">
                  <svg class="bx--pagination__button-icon" width="7" height="12" viewBox="0 0 7 12">
                    <path fill-rule="nonzero" d="M5.569 5.994L0 .726.687 0l6.336 5.994-6.335 6.002L0 11.27z"/>
                  </svg>
                </a>
              </div>
            </div>
    {% endif %}
    <a href="{{ csv_url }}" class="bx--btn bx--btn--primary mt-4">
      {% trans "Download data as csv" %}
        <i class="fa fa-download bx--btn__icon"></i>
      </a>
  </div>

<script>
window.addEventListener("load", function(event){
    var bulkActions = document.querySelector("#bulk-actions");
    bulkActions.classList.add("d-none");

    var selectedResponsesCheckboxes = document.querySelectorAll("input[name='selected_responses']");
    var selectAllCheckbox = document.getElementById("selectAllResponsesCheckbox");

    function updateFilterVisibility(){
        var selectedCount = document.querySelectorAll("input[name='selected_responses']:checked").length;
        if (selectedCount > 0){
            bulkActions.classList.remove("d-none");
            var submitButton = bulkActions.querySelector("input[type='submit']");
            submitButton.value = submitButton.dataset.template.replace("COUNT", selectedCount);
        } else {
            bulkActions.classList.add("d-none");
        }
    }

    function updateSelectAllState(){
        var values = [].slice.call(selectedResponsesCheckboxes);
        var allChecked = values.every(function(checkbox) { return checkbox.checked; });
        var noneChecked = values.every(function(checkbox) { return !checkbox.checked; });
        // need to disable indeterminate for checked to be read
        selectAllCheckbox.indeterminate = false;
        if (allChecked) {
            selectAllCheckbox.checked = true;
        } else if (noneChecked) {
            selectAllCheckbox.checked = false;
        } else {
            selectAllCheckbox.indeterminate = true;
        }
    }

    selectedResponsesCheckboxes.forEach(function(input) {
        input.onclick = function() {
            updateFilterVisibility();
            updateSelectAllState();
        }
    });


    selectAllCheckbox.addEventListener("click", function(event){
        selectedResponsesCheckboxes.forEach(function(input){
            input.checked = event.target.checked;
            updateFilterVisibility();
        });
    });


    updateFilterVisibility();
});
</script>

{% endblock %}
