{% extends "base.html" %}
{% load i18n %}
{% load guardian_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}Investigations{% endblock %}
{% block headertitle %}{% trans "Your Investigations" %}{% endblock %}

{% block main %}
<div class="investigations main-content-padded">

    <div class="add-investigation">
        <button class="bx--btn bx--btn--secondary"  type="button">
            {% trans "Create a new investigation" %}
            <svg class="bx--btn__icon" width="10" height="10" viewBox="0 0 10 10"><path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z"></path></svg>
        </button>
    </div>

    <div class="bx--structured-list">
        <div class="bx--structured-list-tbody">

        {% for investigation in investigation_list %}
        {% get_obj_perms request.user for investigation as "investigation_perms" %}


        <div class="bx--structured-list-row">
            <div class="bx--structured-list-td">
                <div class="cnr--list-header">
                    <h3 class="cnr--list-header__title"><a href="{% url 'form_list' investigation.slug %}">{{investigation.name}}</a></h3>
                    <div class="cnr--list-header__actions">
                        {% if "manage_investigation" in investigation_perms %}
                        <a class="bx--btn bx--btn--secondary"
                           href="{% url 'admin_investigation_users' investigation.slug %}"
                        >{% trans "Edit" %}</a>
                        {% endif %}
                        <a class="bx--btn bx--btn--primary"
                            href="{% url 'form_list' investigation.slug %}">{% trans "View" %}</a>
                    </div>
                </div>
                {% with stats=investigation.submission_stats %}
                <ul id="investigation-stats">
                    <li><i class="fas fa-chart-line text-primary"></i>
                        {% blocktrans count counter=stats.total %}
                            {{ counter }} submission in total
                            {% plural %}
                            {{ counter }} submissions in total
                        {% endblocktrans %}
                    </li>
                    <li><i class="fas fa-calendar-alt text-primary"></i>
                        {% blocktrans count counter=stats.yesterday %}
                            {{ counter }} submission in the last 24 hours
                            {% plural %}
                            {{ counter }} submissions the last 24 hours
                        {% endblocktrans %}
                    </li>
                    <li><i class="fas fa-check-square text-primary"></i>
                        {% blocktrans count counter=stats.to_verify %}
                            {{ counter }} submission left to verify
                            {% plural %}
                            {{ counter }} submissions left to verify
                        {% endblocktrans %}
                    </li>
                </ul>
                {% endwith %}
            </div>
        </div>

        {% endfor %}
        </div>
    </div>

    <div id="invitation-list"></div>
</div>

{% render_bundle "invitationList" %}

{% endblock %}
