{% extends "base.html" %}
{% load i18n %}
{% load guardian_tags %}
{% load static %}

{% block title %}Investigations{% endblock %}
{% block headertitle %}{% trans "Your Investigations" %}{% endblock %}

{% block main %}
<div class="investigations">
    <ul>
    {% for investigation in investigation_list %}
      {% get_obj_perms request.user for investigation as "investigation_perms" %}

      <li>
       <a href="{% url "form_list" investigation.id %}">
            <div class="status {{ investigation.status }}">
                <img src="{{ investigation.cover_image }}" alt=""/>
            </div>
            <h3>{{ investigation.name }}</h3>

            {% if "manage_investigation" in investigation_perms %}
                <a href="{{ investigation.id }}">{% trans "Edit" %}</a>
            {% endif %}
        </a>
      </li>
  {% endfor %}
    </ul>
</div>

{% endblock %}
