{% load i18n %}

<footer class="footer">
  <div class="footer__container">
    <div class="row" style="margin-top: 3em">
      <ul class="footer__meta">
        <li class="footer__meta-item">
          <a  class="footer__meta-link" href="/impress/">
            {% trans 'Impress' %}
          </a>
        </li>
        <li class="footer__meta-item">
          <a  class="footer__meta-link" href="https://correctiv.org">
            correctiv.org
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>
