{% extends "admin/base_site.html" %}

{% block title %}Investigations{% endblock %}

{% block content %}

{% load guardian_tags %}

<div id="content-main">
  <h1>Your Investigations</h1>
  {% for investigation in investigations %}
      <li>
          <a href="{% url "investigation_responses" investigation.id %}">{{ investigation }}</a>

      {% get_obj_perms request.user for investigation as "investigation_perms" %}

        {% if "manage_investigation" in investigation_perms %}
            <a href="{{ investigation.id }}">Edit</a>
        {% endif %}

      </li>
  {% endfor %}
</div>
{% endblock %}
